flows.json
[
    {
        "id": "e729c7a6cf4bde16",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5d29460ab390aedb",
        "type": "inject",
        "z": "e729c7a6cf4bde16",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 200,
        "wires": [
            [
                "214ad22f90982f90"
            ]
        ]
    },
    {
        "id": "dd71305aaa1a9554",
        "type": "debug",
        "z": "e729c7a6cf4bde16",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 220,
        "wires": []
    },
    {
        "id": "214ad22f90982f90",
        "type": "function",
        "z": "e729c7a6cf4bde16",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 340,
        "wires": [
            [
                "dd71305aaa1a9554"
            ]
        ]
    }
]